MobuUpload/Connected Services/MobuWs/MobuWs42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobuWcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobuWcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/MobuWcf/MobuWs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobuWcf" />
  <xs:complexType name="Fragment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="PackageDetails" nillable="true" type="q1:PackageDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fragment" nillable="true" type="tns:Fragment" />
</xs:schema>