MobuUpload/Connected Services/MobuWs/MobuWs43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobuWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobuWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PackageDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Critical" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDetails" nillable="true" type="tns:PackageDetails" />
  <xs:complexType name="ArrayOfPackageDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageDetails" nillable="true" type="tns:PackageDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageDetails" nillable="true" type="tns:ArrayOfPackageDetails" />
</xs:schema>