MobuAndroid/Web References/MobuWebReference/MobuWs0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/MobuWcf/MobuWs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobuWcf" />
  <xs:import schemaLocation="http://127.0.0.1/MobuWcf/MobuWs.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MobuWcf.Models" />
  <xs:element name="TestWebService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWebServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWebServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q1:PackageDetails" />
        <xs:element minOccurs="0" name="packageSize" type="xs:int" />
        <xs:element minOccurs="0" name="fragmentSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartUploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadNextFragment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobuWcf.Models" minOccurs="0" name="fragment" nillable="true" type="q2:Fragment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadNextFragmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadNextFragmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForActiveUploads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q3:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForActiveUploadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForActiveUploadsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q4:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelUploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q5:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishUploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TogglePackageCriticalState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q6:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TogglePackageCriticalStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TogglePackageCriticalStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForActiveDownloads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q7:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForActiveDownloadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckForActiveDownloadsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelActiveDownloads">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q8:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelActiveDownloadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelActiveDownloadsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q9:PackageDetails" />
        <xs:element minOccurs="0" name="fragmentSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDownloadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextFragment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q10:PackageDetails" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="fragmentSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextFragmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MobuWcf.Models" minOccurs="0" name="GetNextFragmentResult" nillable="true" type="q11:Fragment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q12:PackageDetails" />
        <xs:element minOccurs="0" name="fragmentSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishDownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinishDownloadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="GetPackageListResult" nillable="true" type="q13:ArrayOfPackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MobuWcf" minOccurs="0" name="packageDetails" nillable="true" type="q14:PackageDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>